
@section Styles {

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <!-- Google fonts -->

    <link href="~/css/home/home-index.css" rel="stylesheet" />
}

<div class="content top-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="tourBD-info">
                    <h1>tour <span class="bd">BD</span></h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="famous-quote">
                        <p class="the-quote">"Travel is a fools paradise."</p>
                        <p class="quote-author">--Ralph Waldo Emerson</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="our-services">
    <div class="container-fluid">
        <div class="row service-heading">
            <div class="col-md-12 service-wrapper">
                <h2 class="section-heading">OUR SERVICES</h2>
            </div>
        </div>

        <div class="row forum-service">
            <div class="col-md-4">
                <div class="service-name">
                    <h3>A DEDICATED FORUM</h3>
                </div>
                <div class="service-description">
                    <ul class="imp-points">
                        <li>User friendly interface</li>
                        <li>Basic forum with Post, comment, replay system</li>
                        <li>Author has complete command on post</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 forum-pics">
                <div class="ref-1">
                    <img src="~/img/service/post.PNG" alt="forum post" />
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {


}

