
@section Styles {

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
    <!-- Google fonts -->

    <link href="~/css/home/home-index.css" rel="stylesheet" />
}

<div class="content top-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="tourBD-info">
                    <h1>tour <span class="bd">BD</span></h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="famous-quote">
                        <p class="the-quote">"Travel is a fools paradise."</p>
                        <p class="quote-author">--Ralph Waldo Emerson</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="conpanies">
    <div class="container-fluid">
        <div class="row conpany-section">
            <div class="col-md-8">
                <h3>OUR SPONSORS</h3>
            </div>
            <div class="col-md-4">
                <h3>RECENT ACTIVITY</h3>
            </div>
        </div>
        <div class="row section-content-wrapper">
            <div class="col-md-4 all-companies">
                <div class="row justify-content-center">
                    <div class="sponsors">
                        <h4>TOP TOUR PROVIDERS</h4>
                    </div>
                </div>
                <div class="row justify-content-center">

                    <div class="col-md-2">
                        <div class="company-logo">
                            <a href="#">
                                <img src="~/img/upload/clogo/c1.jpg" alt="name" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="company-logo">
                            <a href="#">
                                <img src="~/img/upload/clogo/c2.jpg" alt="name" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="company-logo">
                            <a href="#">
                                <img src="~/img/upload/clogo/c3.jpg" alt="name" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="company-logo">
                            <a href="#">
                                <img src="~/img/upload/clogo/c4.png" alt="name" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="company-logo">
                            <a href="#">
                                <img src="~/img/upload/clogo/c5.png" alt="name" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="company-logo">
                            <a href="#">
                                <img src="~/img/upload/clogo/c6.png" alt="name" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="company-logo">
                            <a href="#">
                                <img src="~/img/upload/clogo/c7.png" alt="name" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 top-sponsors">
                <div class="row justify-content-center">
                    <div class="sponsors">
                        <h4>TOP SPONSORS</h4>
                    </div>
                </div>
                <div class="row justify-content-center">

                    <div class="col-md-3">
                        <div class="company-logo">
                            <a href="#">
                                <img src="~/img/upload/clogo/c4.png" alt="name" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="company-logo">
                            <a href="#">
                                <img src="~/img/upload/clogo/c1.jpg" alt="name" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="company-logo">
                            <a href="#">
                                <img src="~/img/upload/clogo/c6.png" alt="name" class="img-fluid" />
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 hot-feeds">
                <div class="container-fluid">
                    <div class="row">
                        <div class="recent-posts-heading">
                            <h4>RECENT POSTS</h4>
                        </div>
                    </div>
                    <div class="row recent-posts">
                        <div class="col">
                            <a href="#">
                                <p>This is the most recent post now</p>
                            </a>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="top-blogs-heading">
                            <h4>TOP BLOGS</h4>
                        </div>
                    </div>
                    <div class="row top-blogs">
                        <div class="col">
                            <a href="#">
                                <p>Top liked blog link 1</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="topBloggers">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p>List of blogger profiles</p>
            </div>
            <div class="col-md-6 tour-event">
                <p>Tour Events Announcement</p>
            </div>
        </div>
    </div>
</section>

@section Scripts {


}

