
@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

@section Scripts {
    <!-- DataTables -->
    <script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
        $(function () {
            $('#conpanyRequestTable').DataTable({
                'responsive': true,
                'serverSide': true,
                'processing': true,
                'paging': true,
                'ajax': {
                    url: '/Admin/Dashboard/GetRequests',
                    type: 'GET',
                    dataType: 'json'
                },
                'columnDefs': [
                    {
                        'orderable': false,
                        'targets': 0,
                        'render': function (data, type, row) {
                            console.log(data);
                            var arr = data.split('$');
                            return `<img src="` + arr[1] + `" alt="" style="height: 30px; width: 30px" class="img-circle elevation-2"/> <span class="text-bold"><a href="#">` + arr[0] + `</a></span>`;
                        }
                    },
                    {
                        'orderable': false,
                        'targets': 4,
                        'render': function (data, type, row) {
                            return `<div class="d-inline-block row">
                                        <a href="/admin/Dashboard/Details/${data}" class="btn btn-outline-success btn-sm"><i class="fa fa-eye" aria-hidden="true">View</i></a>
                                        <a href="/admin/Dashboard/ApproveRequest/${data}" class="btn btn-info btn-sm">Approve</a>
                                        <a href="/admin/Dashboard/RejectRequest/${data}" class="btn btn-danger btn-sm">Reject</a>
                                    </div>`;
                        }
                    }
                ]
            });
        });
    </script>
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List of comapny request</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="conpanyRequestTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Description</th>
                            <th>Request Date</th>
                            <th>Request Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>User</th>
                            <th>Description</th>
                            <th>Request Date</th>
                            <th>Request Status</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
