
.propertyLabel.col-auto {
    padding-top: 5px;
    padding-left: 0px;
}

.submit-package {
    margin: 0 auto;
    width: 300px;
}

.submit-package button {
    width: 100%;
}

.propertyLabel {
    width: 135px;
}

button.text-muted {
    height: 62%;
    border: none;
    border-radius: 3px;
    margin-left: -6px;
}