
label.packageLabel {
    width: 135px;
}

.color-ml-3 {
    color: chocolate;
    font-weight: 700;
}

.spot-list .col-sm-auto:hover {
    background: #26a0da;
    color: #050801;
    box-shadow: 0 0 3px #26a0da, 0 0 5px #26a0da, 0 0 10px #26a0da;
    transition-delay: 0.1s;
}

.spot-list .col-sm-auto {
    border: none;
}

label.packageLabel {
    width: 120px;
    background-color: beige;
}

span.color-ml-3 {
    font-weight: 600;
    color: maroon;
}

a.company-name {
    margin-left: 13px;
    font-weight: 600;
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
}

.companyInfo {
    margin-left: 7px;
}

.love-react {
    background-color: darkkhaki;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
}

i.fas.fa-heart {
    margin-top: 5px;
    font-size: 22px;
    margin-left: -1px;
}

.float-right.love-warpper {
    padding-right: 18px;
    text-align: center;
}