@model tourBD.Web.Models.RegistrationFormModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Sign Up Form";

}

@section styles{

}

<!-- page content-->
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-sm-8 col-md-5">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row no-gutters">
                        <div class="col-md-12 p-4">
                            @{
                                string userName = ViewBag.Name;
                                var userEmail = ViewBag.UserEmail;
                                var ImageUrl = ViewBag.ImageUrl;
                            }
                            <h4>Welcome @userName</h4>
                            <p>
                                Update your information to be a <span class="text-success">trusted</span> user otherwise you will not be able to <span class="text-danger">post</span>
                            </p>
                            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-warning">Not now</a>

                            <form role="form" action="RegistrationForm" method="post" enctype="multipart/form-data">
                                <div class="align-items-center d-flex my-5">
                                    <div class="border border-brand-red mr-4 rounded-circle">
                                        <img class="img-fluid rounded-circle"
                                             src="@ImageUrl"
                                             width="100"
                                             height="100"
                                             alt="" id="myAvatar" />
                                    </div>
                                    <input type="file" name="ImageFile" id="filePhoto" />
                                </div>
                                <div asp-validation-summary="All" class="text-danger"></div>

                                @*@{
                                    if (userName.Contains('@')) userName = "";
                                }*@

                                <div class="form-group">
                                    <label asp-for="Name" class="label">Your Name</label>
                                    <input type="text"
                                           class="form-control"
                                           [(ngModel)]="Name"
                                           id="Name"
                                           name="Name"
                                           placeholder="Name" value='@userName' required />
                                </div>
                                <!-- email field is not required to be shown if signed up using email address-->
                                <div class="form-group">
                                    <label for="Email" class="label">Email</label>
                                    <input type="Email"
                                           class="form-control"
                                           id="Email"
                                           name="Email"
                                           placeholder="@userEmail" value=@userEmail readonly />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Mobile" class="label">Mobile Number</label>
                                    <input type="tel"
                                           class="form-control"
                                           id="Mobile"
                                           name="Mobile"
                                           placeholder="Mobile Number" required />
                                    <p class="form-text">
                                        <small>
                                            Please include country code. For Bangladesh: +8801... We
                                            need this to contact with you.
                                        </small>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address" class="label">Your Address</label>
                                    <input type="text"
                                           class="form-control"
                                           id="Address"
                                           name="Address"
                                           placeholder="Current address" required />
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked required>
                                        I agree to
                                        <a href="#">terms and conditions</a>
                                        of tourBD
                                    </label>
                                </div>
                                <hr />
                                <button type="submit" class="btn btn-primary">
                                    Done
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content-->

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#filePhoto').change(function () {

                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        $('#myAvatar').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(this.files[0]);
                }

            })
        });
    </script>
}
