@model tourBD.Web.Models.CompanyModels.CompanyRequestModel

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card" style="width: 700px">
                <form method="post" asp-controller="Company" asp-action="RequestCompany">
                    <div class="form-group">
                        <div class="card-header">
                            <label class="label" asp-for="Description">Describe your company(name, location,...etc)</label>
                            <p><small>We will contact with you soon</small></p>
                        </div>
                        <div class="card-body">
                            <textarea name="Description" cols="20" rows="7" class="form-control" id="Description" placeholder="Write your company details"></textarea>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit request</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>