
.top-content {
    background: url('../../img/bg/winter-boat.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    transition: 8s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate {
    0% {
        background-image: url('../../img/bg/boats.jpg');
    }
    50% {
        background-image: url('../../img/bg/camera-boy.jpg');
    }
    100% {
        background-image: url('../../img/bg/hill-boat.jpg');
    }
}

.tourBD-info {
    text-align: center;
}

.tourBD-info h1 {
    font-size: 110px;
    font-family: 'Modak', cursive;
    letter-spacing: 5px;
    color: darkblue;
    padding: 0;
    margin-top: 55px;
}

.tourBD-info h1 span.bd {
    color: darkslateblue;
}


.famous-quote p.the-quote {
    font-family: cursive;
    font-size: 20px;
    color: darkorange;
}

p.quote-author {
    margin-left: 50px;
    color: blue;
    font-family: cursive;
}

/* Companies */
.conpanies {
    padding: 5px 0;
}

.conpany-section {
    margin: 50px 0;
}

.row.conpany-section h3 {
    font-weight: 600;
    text-align: center;
    padding: 0;
    font-size: 40px;
}

a.company-logo img {
    height: 100%;
    width: 100%;
}

/* Footer */
footer.main-footer {
    height: 500px;
    background-color: slategrey;
    color: white;
}

img#author-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

a.row.single-post {
    margin: 5px;
    background-color: beige;
    padding: 5px;
    border: 1px solid cadetblue;
    border-radius: 5px;
    transition: .5s;
}

span.author-user-name {
    color: coral;
    font-weight: 600;
}

.message p {
    color: black;
    font-family: monospace;
}

a.row.single-post:hover {
    background-color: cadetblue;
    transition: .5s;
}